.mobile-nav {
	position: fixed;

	right: -100%;
	width: 100%;
	height: 100%;
  z-index: 99;

	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
	background-color: rgba(110, 156, 159, 0.6);
	transition: all 0.2s ease-in;
}

.mobile-nav--open {
	right: 0;
  bottom: 0;
}

.mobile-nav__logo-wrapper {
  padding-left: 40px;
}

.mobile-nav__list-wrapper {
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100%;
  width: 60%;
  background-color: #fff;
}

.mobile-nav__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	font-size: 28px;

	& .active {
		opacity: 0.5;
	}

  margin-top: 150px;
  padding: 20px 40px;
}

.mobile-nav__item {
  width: 100%;
}

.mobile-nav__link {
  width: 100%;
  padding: 20px 15px;
  color: #000;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;

  &:hover {
    color: var(--accent);
    background-color: #f2f1f1;
  }
}